/* ---------------------------------------------------------------------------
App.css
This file contains the styles of the application 
------------------------------------------------------------------------------ */
@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
body {
  width: 100%;
  height: auto;
}
